<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="../icons/healthcare.png">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('patients') }}">Patients</a></li>
        </ul>
    </nav>

    <h1>Welcome to the Medical Site</h1>

    <!-- Content of the home page -->
    <p>Use the navigation bar to go to different pages.</p>

    <footer class="footer"></footer>
</body>
</html>
