body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heart_table {
    border-collapse: collapse;
    width: 100%;
  }
.heart_table tr:nth-child(even){background-color: #f2f2f2;}
.heart_table td:hover {background-color: #ddd;}
.heart_table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
.submit_btn{
    border: 2px solid seagreen;
    color: black;
    background-color: white;
    transition-duration: 0.4s;
    padding: 8px 14px;
    border-radius: 4px;
}
.submit_btn:hover{
    background-color: seagreen;
    color: white;
    cursor:pointer;
}
.footer{
  height: 10%;
  width: 100%;
  background-color: grey;
}
.navbar {
  background-color: seagreen;
  overflow: hidden;
  text-align: left;

}

.navbar li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}
.navbar li a:hover {
  background-color: darkgreen;
  color: white;
}
.navbar li a:active {
  background-color: darkgreen;
  color: white;
}

.patients_table {
  border-collapse: collapse;
  width: 100%;
}

.patients_table th, .patients_table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.patients_table tr:nth-child(even) {background-color: #f2f2f2;}
.patients_table tr:hover {background-color: #ddd;}

.patients_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: seagreen;
  color: white;
}

input[type="text"] {
  width: 50%;
  padding: 8px 14px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid seagreen;
  border-radius: 4px;
}
.search-register-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
